In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Precily_Text_Similarity.csv")
df.head()

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...

In [3]:
df.shape

(3000, 2)

In [4]:
df1 = df.sample(frac = 1).reset_index()
print(df1)

      index                                              text1  \
0      2967  johnson edges out rival sotherton jade johnson...
1      2847  chinese exports rise 25% in 2004 exports from ...
2       849  the force is strong in battlefront the warm re...
3       204  beckham virus spotted on the net virus writers...
4      1153  profits stall at china s lenovo profits at chi...
...     ...                                                ...
2995    983  2004: an irish athletics year 2004 won t be re...
2996   1771  speak easy plan for media players music and fi...
2997   1365  african double in edinburgh world 5000m champi...
2998   2759  games firms  face tough future  uk video game ...
2999   2517  fockers retain film chart crown comedy meet th...

                                                  text2
0     bmw cash to fuel mini production less than fou...
1     italy 17-28 ireland two moments of magic from ...
2     roundabout continues nostalgia trip the new bi...
3     artists  secret postcards on sale postcards by...
4     bollywood dvd fraudster is jailed a major dist...
...                                                 ...
2995  mido makes third apology ahmed  mido  hossam h...
2996  february poll claim  speculation  reports that...
2997  wilkinson fit to face edinburgh england captai...
2998  cole faces lengthy injury lay-off aston villa ...
2999  us critics laud comedy sideways road trip come...

[3000 rows x 3 columns]

In [5]:
df1[0:3]

,index,text1,text2
0,2967,johnson edges out rival sotherton jade johnson...,bmw cash to fuel mini production less than fou...
1,2847,chinese exports rise 25% in 2004 exports from ...,italy 17-28 ireland two moments of magic from ...
2,849,the force is strong in battlefront the warm re...,roundabout continues nostalgia trip the new bi...

In [25]:
train_split=pd.read_csv('train_split.csv')
train_split.head()
print(len(train_split))

2300

In [26]:
valid_split=pd.read_csv('valid_split.csv')
valid_split.head()
print(len(valid_split))

300

In [27]:
import pandas as pd
csv_files=['train_split.csv','valid_split.csv']
 
train_data = pd.concat([pd.read_csv(file) for file in csv_files ], ignore_index=True)
train_data
train_data.to_csv('train_data.csv')

In [28]:
len(train_data)

2600

In [29]:
import torch;
torch.__version__

'2.0.1+cu117'

In [31]:
import torch
print(torch.backends.cudnn.version())

8500

In [32]:
import torch
print(torch.version.cuda)

11.7